.DS_STORE
logs/**/*
modernfix/**/*
journeymap/**/*
world/**/*
banned-ips.json
banned-players.json
ops.json
usercache.json
whitelist.json
natives/**/*
servers.dat*
options.txt
config/Mekanism/client.toml
config/jei/world/**/*
config/jei/jei-client*
crash-reports/**/*
config/**client**
config/**/*.hprof
config/spark/activity.json